/* Big Screen */

 @media only screen and (min-width: 1024px) {
  html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

  .superContainer{
    display:flex;
    justify-content:space-between;
    margin: 0 auto;
  }

  body {

    flex-direction: row;
    font-family: 'Source Sans Pro', sans-serif;
    color: #545149;
    background-color: white;
    font-size: 24px;
  }

  main {
  margin-left: 5%;
  margin-right: 5%;
}



.tweetHeader {
  border-radius: 5px;

  margin-left: 30px;
  margin-top: 200px;
  width: 50%;
  height: 70%;
  background-color: #8a008a;
background-image: url("https://www.transparenttextures.com/patterns/black-linen.png");
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank
 you! */
  background-color: white;
  font-family: 'Source Sans Pro', sans-serif;
  color: #545149;
  font-size: 24px;
  text-align: center;
  
}


img {
  width: 10%;
  padding-top: 1em;
}



.tweet{
    width: 100%;
    border-style: solid;
    padding: 0.5em;
    margin-bottom: 20px;
}

article:hover{
  font-weight: 600;
  box-shadow:5px 10px #888888; 
}

article img {
  width: 3%;
  vertical-align: text-bottom;
}

article header a {
  opacity: 0.5;
  padding-top: 0.5em;
  float: right;
}


article hr {
  border-color: black;
}


.container {
  
  width: 90%;
  background-color: inherit;
  color: 40px;
  overflow-wrap: break-word;
}

.errorHandling{
  border:solid;
  color:red;
  text-align:center;
  font-size: large;
  font-weight: bold;
}
}


